/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #0e0d0d;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Russo One', sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* avoid blue square when clicking (touching) div */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Desktop view */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  color: #f5f5f5;
}

.side-sentence {
  transform: rotate(270deg) translate(-280px, -205px);
}

.container {
  border: 5px solid white;
  padding: 0px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #080808;
  width: 385px;
  max-width: 385px;
}
.you-are,
.verb-text {
  font-size: 6rem;
}

.you-are {
  position: relative;
  padding: 0 15px;
  top: 8px;
  transform: rotate(-7deg);
  background-color: #d11010;
  border: 0.6rem solid #f5f5f5;
}

.you-are-text {
  transform: rotate(-5deg);
  font-variant-caps: all-small-caps;
}
.count {
  position: relative;
  width: 90%;
  height: 90%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50vh;
  width: 50vh;

  /* max-height: 400px; */
  /* max-width: 400px; */
  cursor: pointer;
  font-weight: bolder;
  font-size: 25vh;
  user-select: none;
  background-color: #d11010;
  border: 1rem solid #f5f5f5;
  
  box-shadow: inset -1px 1px 135px 6px rgba(117,8,8,0.29);
}

.count:active {
  border: 1.05rem solid #f5f5f5;
  box-shadow: inset -1px 1px 135px 6px rgba(117,8,8,0.9);
}

.verb-text {
  font-size: 5rem;
  position: relative;
  /* padding: 0 15px; */
  top: -10px;
  width: 120%;
  min-width: 435px;
  transform: translate(-35px);
  background-color: #d11010;
  border: 0.6rem solid #f5f5f5;
}

.verb {
  font-variant: small-caps;
}

.you-are,
.count,
.verb-text {
    /* noisy background to the button */
    background-image: url(./noise.png);
    background-blend-mode: multiply;
    background-repeat: repeat;
    
}
